.app-list {
  width: 250px;
  padding: 0 10px;
}

.app-home {
  text-align: center;
  padding: 60px;
}

.app-container {
  padding: 20px;
}

div.badge-chip-custom {
  color: #abcdef;
  background-color: #000000;
}
